* {
    margin: 0;
}

.box {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid black;
}
.bold {
    font-size: 25px;
}
.res, .zep {
    font-size: 36px;
}

#myDropdown {
    font-size: 25px;
    width: 185px;
    margin-top: 15px;
    margin-bottom: 100px;
}

.inputs {
    box-sizing: border-box;
    height: 30px;
}