* {
    margin: 0;
}
body {
    width: 650px;
    height: 670px;
    background: linear-gradient(-18deg, #CF4040 13%, #FF7A00);
}

.box {
    width: 550px;
    height: 570px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid black;
    
}
.bold {
    font-size: 25px;
}
.res, .zep {
    font-size: 36px;
}

#myDropdown {
    font-size: 25px;
    width: 185px;
    margin-top: 15px;
    margin-bottom: 100px;
}

.inputs {
    box-sizing: border-box;
    height: 30px;
}